body {
    margin: 0;
    padding: 0;
    background-color: #3a3a3a;
    color: #ffffff;
    font-family: 'Roboto','Roboto Mono rev=1', sans-serif;
}

#container_header>h1 {
    background-color: #1d1d1d;
    margin: 0px;
    padding: 25px;
}

#container_header>h1>span {
    max-width: 1720px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#search {
    margin: 40px 0 0 0;
    max-width: 1720px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 25px;


}

#search>div:first-child>div:first-child {
    float: left;
    height: 46px;
}

#search>div>div:first-child>div {
    font-weight: bold;
    font-size: 21px;
    height: 47px;
    display: table-cell;
    vertical-align: middle;
    padding-right: 10px;
}

#search>div>div:second-child {
    display: inline-block;
    width: 500px;
}


input[type=text] {
    width: 330px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    background-color: white;
    background-image: url('images/youtube.png');
    background-position: left;
    background-size: 39px;
    background-repeat: no-repeat;
    padding: 12px 20px 6px 40px;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 500px;
}


#canvas {
    font-family: monospace;
}

/*! Image Uploader - v1.2.3 - 26/11/2019
 * Copyright (c) 2019 Christian Bayer; Licensed MIT */
/* @font-face {
    font-family: 'Image Uploader Icons';
    src: url(../fonts/iu.eot);
    src: url(../fonts/iu.eot) format('embedded-opentype'), url(../fonts/iu.ttf) format('truetype'), url(../fonts/iu.woff) format('woff'), url(../fonts/iu.svg) format('svg');
    font-weight: 400;
    font-style: normal
} */

[class*=iui-],
[class^=iui-] {
    font-family: 'Image Uploader Icons' !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.iui-close:before {
    content: "\e900"
}

.iui-cloud-upload:before {
    content: "\e901"
}

.iui-close {
    background-image: url('images/close.png');
    background-position: center;
    background-size: 39px;
    background-repeat: no-repeat;
    filter: brightness(0) invert(1);

}

.image-uploader {
    min-height: 100px;
    border: 3px solid #d9d9d9;
    position: relative;
    border-radius: 10px;

}

.image-uploader.drag-over {
    background-color: #f3f3f3
}

.image-uploader input[type=file] {
    width: 0;
    height: 0;
    position: absolute;
    z-index: -1;
    opacity: 0
}

.image-uploader .upload-text {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

.image-uploader .upload-text i {
    display: block;
    font-size: 3rem;
    margin-bottom: .5rem
}

.image-uploader .upload-text span {
    display: table-cell;
    vertical-align: middle;
    position: absolute;
}

.image-uploader.has-files .upload-text {
    display: none
}

.image-uploader .uploaded {
    padding: .5rem;
    line-height: 0
}

.image-uploader .uploaded .uploaded-image {
    display: inline-block;
    width: calc(16.6666667% - 1rem);
    padding-bottom: calc(16.6666667% - 1rem);
    height: 0;
    position: relative;
    margin: .5rem;
    background: #f3f3f3;
    cursor: default
}

.image-uploader .uploaded .uploaded-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute
}

.image-uploader .uploaded .uploaded-image .delete-image {
    display: none;
    cursor: pointer;
    position: absolute;
    top: .2rem;
    right: .2rem;
    border-radius: 50%;
    padding: .3rem;
    line-height: 1;
    background-color: rgba(0, 0, 0, .5);
    -webkit-appearance: none;
    border: none
}

.image-uploader .uploaded .uploaded-image:hover .delete-image {
    display: block
}

.image-uploader .uploaded .uploaded-image .delete-image i {
    display: block;
    color: #fff;
    width: 1.4rem;
    height: 1.4rem;
    font-size: 1.4rem;
    line-height: 1.4rem
}

@media screen and (max-width:1366px) {
    .image-uploader .uploaded .uploaded-image {
        width: calc(20% - 1rem);
        padding-bottom: calc(20% - 1rem)
    }
}

@media screen and (max-width:992px) {
    .image-uploader .uploaded {
        padding: .4rem
    }

    .image-uploader .uploaded .uploaded-image {
        width: calc(25% - .8rem);
        padding-bottom: calc(25% - .4rem);
        margin: .4rem
    }
}

@media screen and (max-width:786px) {
    .image-uploader .uploaded {
        padding: .3rem
    }

    .image-uploader .uploaded .uploaded-image {
        width: calc(33.3333333333% - .6rem);
        padding-bottom: calc(33.3333333333% - .3rem);
        margin: .3rem
    }
}

@media screen and (max-width:450px) {
    .image-uploader .uploaded {
        padding: .2rem
    }

    .image-uploader .uploaded .uploaded-image {
        width: calc(50% - .4rem);
        padding-bottom: calc(50% - .4rem);
        margin: .2rem
    }
}

#error_youtube {
    font-size: 24px;
    color: #ff0000;
    font-weight: bold;
    max-width: 1720px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 30px;

}

#container_result>span {
    padding: 0 25px;
    display: block;
}

#loading {
    max-width: 1720px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 30px;
    font-size: 24px;
    color: #ffffff;
    font-weight: bold;
}


#container_result>span>textarea {
    overflow: hidden;
    background: transparent;
    color: white;
    border: none;
    resize: none;
    margin-top: 25px;
    width: 100%;
    cursor: pointer;
    font-family: 'Roboto Mono rev=1', monospace;
    font-size: 8px;
    overflow-y: auto;
    font-weight: bolder;
}